
table.board {
    border-collapse: separate;
    border-spacing: 5px 5px;
	background-color: #f9c77c;
	padding: 15px;
    border-radius: 5px;
	box-shadow: 0px 0px 10px #444;
	margin-left: auto;
	margin-right: auto;
}

td.cell {
    background-color: #f7ce91;
	border-radius: 5px;
	border-style: none;
	height: 64px;
	width: 64px;
    transition: background 200ms;
	box-shadow: 1px 1px 6px #555;
}

td.cell.playable:hover {
    transition: background 100ms;
    background-color: #f9e9d1;
    color: white;
}

.piece {
	visibility: hidden;
	width: 85%;
	height: 85%;
	border-radius: 50%;
	margin: auto;
	box-shadow: 2px 2px 10px #555;	
}

.piece.white {
	visibility: visible;
	background-color: white;	
    transition: background 200ms;
}

.piece.black {
	visibility: visible;
	background-color: black;
	transition: background 200ms;
}
